body{
    background-color: black; 
}
h2{
    padding-left: 3vw;
    color: red;
}
#perfil_box{
    height: 25vw;
    position: absolute;
    left: -40vw;
    top: 10vw;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center;
}
#titulo_box{
    position: relative;
    left: 15vw;
    width: fit-content;   
    
}
#titulo{
    left: 23pt;
    text-align: center;
    font-size: 4vw;
    color: white;
    
}

.lista_perfis{
   height: 20vw;
   width: min-content;
   top: -60vw;
   left: 0;
   align-items: center;

}
.escolha_perfis{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    padding: auto;
    

}
.perfil_nome{
    position: relative;
    text-align: center;
    top: -1vw;
    left: 4vw;
}
.perfil{
    text-decoration: none;
    list-style: none;
}
.avatar{
    justify-content: center;
    width: fit-content;
  
}
.img_perfil{
    margin: 8pt;
    justify-content: center;
    height: 10vw;
    width: 10vw;
}
.link_perfil{
    width:fit-content;
    color: grey;
    text-decoration: none;
}
